.deleteRun {
    color: red;
    text-decoration: underline;
    cursor: pointer;
}

.completeRun {
    color: green;
    text-decoration: underline;
    cursor: pointer;
}

.myRuns table {
    width: 100%;
    text-align: center;
}

.completedRun {
    background: #99ff99;
}