.green {
    color: #99ff99;
    font-size: 2rem;
}

.tileContent {
    display: flex;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    justify-content: space-around;
}

.tile-weather-content {
    color: red;
}

.weather-image {
    height: 3rem;
    position: absolute;
    top: 0;
    right: 0;
}

.weather-data-in-tile {
    position: absolute;
    top: 0;
    left: 35px;
}